.modal-container {
  background-color: #2b2b2b;
  color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.modal-container.small {
  width: 320px;
}

.modal-container.medium {
  width: 500px;
}

.modal-container.large {
  width: 800px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 14px 18px;
  border-bottom: 1px solid #333;
}

.modal-title {
  margin: 0;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  flex: 1;
}

.modal-body {
  padding: 20px;
  background-color: #ffffff;
  color: #333;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  background-color: #1e1e1e;
  padding: 14px 18px;
  border-top: 1px solid #333;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-group label {
  margin: 0;
  color: var(--page-bg-dark);
}

.modal-message {
  font-size: 1rem;
  text-align: center;
  color: #333;
  margin: 1rem 0;
}

.modal-message.success {
  color: var(--page-bg-dark);
}

.modal-icon {
  font-size: 3rem;
  color: #ef4444;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.modal-icon.success {
  color: #45C35B;
}

.modal-icon.warning {
  color: #facc15;
}

.modal-actions-inline {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}

.modal-close {
  background: none;
  border: none;
  color: #ef4444 !important;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.2s;
}

.modal-close:hover {
  color: #ed7979 !important;
}

.permissions-controls {
  display: flex;
  align-items: start;
  gap: 8px;
}

.permissions-controls button {
  min-width: 100px;
}

.role-permissions-list {
  margin-top: 16px;
}

.permission-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px;
  border:  1px solid #2C2C2C;
  border-radius: 6px;
  background-color: #f8f9fa;
}

.permissions-list-container h4 {
  margin-bottom: 16px;
}

.modal-container input:focus,
.modal-container textarea:focus,
.modal-container select:focus {
  outline: none;
  border-color: #339c45;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}